html{
  -webkit-font-smoothing: antialiased;
}
body{
  background-color: #EDBFFF;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper{

}
.flip-container {
  perspective: 1000;
}

.flip-container.clicked .flipper,
.flip-container.pair .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front, .back,
.card{
  width: 245px;
  height: 245px;
  box-shadow: 1px 1px 4px #A8A8A8;
  margin: 0 auto;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.content_card{
  margin: 10px 0;
}

.card{
  padding: 10px;
  position: relative;
}

.card.face{
  background-color: red;
}
.card.aback{
  background-color: #8e44ad;
}

.letter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  padding: 100px;
  font-size: 25px;
  text-align: justify;
  background: url(../images/letter.png) center no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.indications{
  padding: 0 20px;
}
.indications span{
  font-weight: bold;
}
.indications p{
  margin-top: 40px;
  font-size: 20px;
}
.char{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  color: white;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}
.preload{
  position: absolute;
  left: -10000px;
  top: -10000px;
}